{% extends "base.html" %}

{% block content %}
    <h1>My Projects</h1>
    {% if projects_list %}
        <table>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
            </tr>
            {% for project in projects_list %}
                <tr>
                    <td>
                        <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                    </td>
                    <td>{{ project.tasks.all|length }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You are not assigned to any projects</p>
    {% endif %}
{% endblock %}
