{% extends "base.html" %}

{% block content %}
    <h1>{{ project.name }}</h1>
    <h2>Tasks</h2>
    <a href="{% url 'create_task' %}">Create a new task</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
        </thead>
        <tbody>
            {% for project in project.tasks.all %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.assignee }}</td>
                    <td>{{ project.start_date }}</td>
                    <td>{{ project.due_date }}</td>
                    <td>{{ project.is_completed }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">This project has no tasks.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
