{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required />
        <br />
        <br />
        <label for="password">Password:</label>
        <input type="password" name="password" required />
        <br />
        <br />
        <button type="submit">Login</button>
    </form>
{% endblock %}
