{% extends "base.html" %}

{% block content %}
    <h1>Sign up</h1>
    <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Signup</button>
    </form>
{% endblock %}
